.page {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
}

.left,  .right{
    /* border: 1px;
    border-style: solid;
    border-color: black; */
}

.left{
    background-color: rgb(0, 149, 255);
}

.header{
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: rgb(255, 0, 0); */
    /* display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box; */
    box-shadow: 0 10px 10px rgb(202, 202, 202);
}

.left_dashboard {
    display: flex;
    flex-direction: column;
}

.main_dashboard{
    color: white;
    border: none;
    background-color: rgb(0, 149, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.dashboard_button {
    color: white;
    border: none;
    background-color: rgb(0, 149, 255);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 27px;
    text-align: left;
}

#home_button {
    margin-top: 50px;
}

#settings_button {
    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: column;
}

.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center; */
    /* width: 100%; */
}

.account {
    margin-left: 80px;
    font-weight: bold;
}

.interact {
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    gap: 50px;
}

.interact_buttons {
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: large;
    height: 40px;
    width: 100px;
    gap: 10px;
    background-color: rgb(0, 149, 255);
    /* display: flex;
    flex-direction: column; */
}

.search_bar{
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 17px;
    width: 950px;
    height: 40px;
    padding-left: 20px;
    background-color: rgb(241, 246, 250);
}

.main_thing {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.project_1, .project_2, .project_3, .project_4, .project_5, .project_6{
    border: 1px;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    height: 200px;
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px rgb(129, 129, 129);
    border-left: 10px solid rgb(0, 149, 255);
}

.right_cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 20px;
    
}

.announcement, .trending {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
}

.announcement {
    margin-top: 64px;
    margin-bottom: 15px;
    height: 300px;
    width: 350px;
    border: none;
    box-shadow: 0 0 10px rgb(129, 129, 129);
}

.trending {
    margin-top: 64px;
    height: 300px;
    width: 350px;
    border: none;
    box-shadow: 0 0 10px rgb(129, 129, 129);
}

.gotta{
    text-align: center;
}

.projects_card {
    
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 80px;
}
